# notes for later

[defaults]
inventory = ./inventory.ini
host_key_checking = False

[ssh_connection]
# This single line forces Ansible to use AWS SSM instead of standard internet SSH
# ssh_args = -o ProxyCommand="aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"

# Had connection issues, edited to the following
# We add "sh -c" to ensure the subshell cleanly renders the %h variable string
ssh_args = -o StrictHostKeyChecking=no -o ProxyCommand="sh -c \"aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'\""
